<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Minis Assist Hook"
        android:allowBackup="false">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposeddescription"
            android:value="把超级小爱的唤起重定向到 Minis" />
        <meta-data
            android:name="xposedscope"
            android:value="com.miui.voiceassist" />

    </application>

</manifest>
